<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=0,maximum-scale=1.0,minimum-scale=1.0">
    <% if(process.env.NODE_ENV=="production"){ %>
        <link rel="stylesheet" href="../static/css/common.css?v=<%=fileVersion%>" />
        <link rel="stylesheet" href="../static/css/indexController.css?v=<%=fileVersion%>" />
    <%}%>
</head>

<body>
    <div> 
        index test page 
        <div class="img1"></div>
    </div>
    
    <% if(process.env.NODE_ENV=="development"){ %>
        <script type="text/javascript" src="../dev/common.js"></script>
        <script type="text/javascript" src="../dev/indexController.js"></script>
    <% }else if(process.env.NODE_ENV=="production"){ %>
        <script type="text/javascript" src="../js/common.js?v=<%=fileVersion%>"></script>
        <script type="text/javascript" src="../js/indexController.js?v=<%=fileVersion%>"></script>
    <%}%>    
</body>
</html>
